@page "/single"

<PageTitle>Weather forecast</PageTitle>

@using src.Data
@inject WeatherForecastService ForecastService
@inject MonitoringService MonitoringService

<h1>Metrics</h1>

<div class="flex-row justify-content-between">
    <p>Time until next check: 1:00:00</p>
    <button class="btn btn-secondary">Check Now</button>
</div>

@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Service Name</th>
            <th>Response Time</th>
            <th>Status</th>
            <th>Correct Result</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        await MonitoringService.RunChecksAsync();
    }

}